/*
* @Author: lenovo
* @Date:   2018-03-13 15:36:32
* @Last Modified by:   lenovo
* @Last Modified time: 2018-03-16 19:57:15
*/
body{
	background: pink;
}
.bei{
	width: 511px;
	height: 1023px;
	background:-webkit-linear-gradient(left,#2a2a2a,#282828,#262626,#242424);
	margin: 0 auto;
	border-radius: 60px; 
	box-shadow: 0 0 5px 2px #808185 inset;
	position: relative;
	border: 8px solid #2a2a2a;
}
.box{
	width: 162px;
	height: 63px;
	margin-top:28px;
	margin-left:25px ;
	background: #3f3e42;
	overflow: hidden;

}
.a{
	width: 23px;
	height: 39px;
 	margin-top: 10px;
	margin-left:5px ;
}
.b{
	width:122px ;
	height: 56px;
	float: right;
}
.c{
	width: 81px;
	height: 75px;
 	margin-top: 192px;
	margin-left:206px ;
}
.d{
	width:55px;
	height:38px;
	margin-top:479px;
	margin-left: 206px;
	color: #393939;
}
.ce{
	width: 10px;
	height: 189px;
	background: #b7b8bd;
	position: absolute;
	top: 140px;
	left: 440px;

}
.shang{
	width: 10px;
	height: 104px;
	background:#282828;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
   
}
.xiamian{
	width: 10px;
	height: 49px;
	 margin-top:34px;
	background:#282828;
}
