/*
* @Author: lenovo
* @Date:   2018-03-10 11:24:31
* @Last Modified by:   Administrator
* @Last Modified time: 2018-04-13 21:12:42
*/
body{
	background: pink;
	position: relative;
}
.box{
	width: 383px;
	height: 746px;
	margin: 0 auto;
	background: #000;
    border-radius: 51px;
    box-shadow: 0 0 6px 3px #fff inset;
    overflow: hidden;
    position: relative;
}
.top{
	width: 370px;
	height: 72px;
	background: #1d1d1d;
	border-top-left-radius: 51px;
	border-top-right-radius: 51px;
	margin: 0 auto;
	overflow: hidden;
}
.top1{
	width: 120px;
	height: 14px;
	background: #1d1d1d;
	margin-top: 33px;
	margin-left: 95px;
}
.yuan1{
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #4d679a;
	float: left ;
	margin-left: 1px;
	margin-top: 1px;
	
}
.yuan2{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #4d679a;
	float: left  ;
	margin-left: 20px;
	margin-top: 1px;
	
}
.heng{
	width: 53px;
	height: 8px;
	background: #4d679a;
	float: left ;
	margin-left: 24px;
	margin-top: 1px;

}
.center{
	width: 364px;
	height: 614px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 2px 3px #595959;
}
.bg{
	width: 364px;
	height: 614px;
	display: block;
}
.xia{
	width: 364px;
	height: 58px;
	background: #090909;
	margin: 0 auto;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}
.anjian{
	width: 213px;
	height: 16px;
	margin-top: 22px;
	margin-left: 85px;
}
.ce{
	width: 6px;
	height: 185px;
	background: #b7b8bd;
	position:absolute;
	top: 120px;
	right:513px;

}
.shang{
	width: 6px;
	height: 104px;
	background: #030102;
   
}
.xiamian{
	width: 6px;
	height: 49px;
	margin-top: 32px;
	background: #030102;
}
